html {
  font-family: Arial, Helvetica, sans-serif;
}
.app-container {
  padding: 40px 10px;
}
.color-red {
  background-color: red;
  text-align: center;
}
.color-blue {
  background-color: blue;
  text-align: center;
}
.color-pink {
  background-color: pink;
  text-align: center;
}
#nav li {
  display: inline-block;
}
#nav li a {
  text-decoration: none;
  padding: 0 24px;
}
#nav > li > a {
  text-transform: uppercase;
  color: pink;
}
#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
